@charset "UTF-8";
/* 코레일 home mobile */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    font-family: 'Noto Sans KR', sans-serif;
}

body {min-width: 320px;}


.inner {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

/* .sec04 */
.sec04 .list01 .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec04 .list01 .card div{
    flex: 1 0 340px;
    height: 300px;
}

.sec04 .list02 .BT a{
    padding : 2px 7px;
    border: 0.5px solid #00000020;
    border-radius: 999px;
    font-weight: 500;
    font-size: 0.6rem;
}

.sec04 .list02 .pkg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.sec04 .list02 .pkg > div img {
    height: 100%;
    width: 100%;
}

.sec04 .list02 .pkg > div .txt .top h3 {font-weight: 700; font-size: 1rem;}
.sec04 .list02 .pkg > div .txt .bottom .price .number{font-weight: 700; font-size: 2rem;}
.sec04 .list02 .pkg > div .txt .bottom .price .won{font-weight: 400; font-size: 1rem;line-height: 40px;}


/* .sec05 */
.sec05 {
    display: flex;
    flex-direction: column;
}

.sec05 .Notice,
.sec05 .consult  {
    width: 100vw;
}