@charset "UTF-8";
/* 코레일 home pc */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    font-family: 'Noto Sans KR', sans-serif;
}

body {min-width: 1024px;}

.inner {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    text-align: center;
    /* align-items: center; */
    margin: 0 auto;
    position: relative;
}

.inner.content { gap: 50px;}

a { text-decoration: none; color: #000;}

li {list-style: none;}

h1 { font-weight: 700; font-size: 2.1rem;}
h2 { font-weight: 400; font-size: 1.1rem;}
h3 { font-weight: 400; font-size: 1.125rem;}


/*  //////////header ////////// */
header .top {
    background-color: #093B82;
}

header .top .inner,
header .nav .inner{
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
}

header .top .inner div a{
    height: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 0.75rem;
}

header .nav .inner .logo{
    height: 110px;
    width: 204px;
    background: url(../img/logo/temporary.svg) no-repeat center;
    text-indent: -999px;
    overflow: hidden;
}

header .nav .inner .menu {
    margin: auto 0;
}

header .nav .inner .menu a{
    display: inline-block;
    padding: 20px;
}

header .nav .inner .menu a:last-child {margin : 0;}

header .side {
    position: relative;
    display: flex;
    flex-direction: column;
} 

header .side .left.side,
header .side .right.side {
    display: flex;
    flex-direction: column;
    position: fixed;
}

header .side .left.side {
    left: 0;
}

header .side .right.side {
    right: 0;
}  


/*  //////////.title ////////// */
.title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title div {
    display: flex;
    justify-content: end;
    font-weight: 500;
    font-size: 0.8rem;
    color: #00000090;
}

.title div p a {
    font-weight: 500;
    font-size: 0.8rem;
    color: #00000090;
}

.title h1 {
    display: flex;
    justify-content: left;
    font-weight: 700;
    font-size: 1.7rem;
}


/*  //////////.sec01 ////////// */
.sec01 { 
    position: relative;
}

/*  */
.sec01 .inner .select .common .option,
.sec01 .inner .select .discont,
.sec01 .inner .select .fourGp,
.sec01 .inner .select .trip
{display: none;}

/*  */


/* 티켓버튼 */
.sec01 .inner{
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
    margin-bottom: 30px;
}
.sec01 .ticket { 
    display: flex;
}

.sec01 .ticket li h5{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 50px;
    font-weight: 400;
    font-size: 1.2rem;

    border-radius: 10px 10px 0 0;
    background-color: #093B82;
    color: #fff;
}

.sec01 .select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 0 10px 10px 10px;
}

.sec01 .select .common .tab {
    display: flex;
    gap: 30px;
}
.sec01 .select .common .tab li{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 1.1rem;
}

.sec01 .select .common .direct {
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 10px;

}

.sec01 .select .common .direct .basic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 1124px;
    gap: 15px;
}

.sec01 .select .common .direct .basic div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-weight: 500;
    font-size: 1.1rem;
    color: #00000090;
}
.sec01 .select .common .direct .basic .D03{
    width: 156px;
    height: 120px;
    background-color: #093B82;
    color: #fff;
    border-radius: 5px;

    font-weight: 400;
    font-size: 1.2rem;
}

.sec01 .select .common .direct .basic div div{
    width: 470px;
    height: 50px;
    /* border: 0.5px solid #00000020; */
    border-radius: 5px;
    background-color: #62ADD030;
}

.sec01 .select .common .direct .button {
    background: url(../img/home/event/ticket/option_arrow.png) no-repeat center;
    text-indent: -9999px;
    overflow: hidden;
    background-color: #093B8210;
}

.sec01 .select .common .direct .button:hover {cursor: pointer;}


/* ////////// .sec02 ////////// */
.sec02 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.sec02 .Frame.F01 {
    display: flex;
    justify-content: center;

    gap: 10px;
    padding: 20px 0;
    border: 1px solid #000;
    border-radius: 10px;
}

.sec02 .Frame.F01 h1 {
    font-weight: 600;
    font-size: 1.2rem;
}

.sec02 .Frame.F02{
    padding: 20px 0;
    border: 1px solid #000;
    border-radius: 10px;
}

/* ////////// footer ////////// */
footer {
    background-color: #D7D7D7;
    padding: 50px 0 ;
}

footer .F01 .terms,
footer .F02,
footer .F02 .info {
    display: flex
}

footer .F01 {
    display: flex;
    justify-content: space-between;
}

footer .F01 .terms {
    font-weight: 500;
    font-size: 0.8rem;
    gap: 10px;
}


footer .F02{
    justify-content: space-between;
    margin-top: 10px;
}

footer .F02 .logo{
    width: 204px;
    background: url(../img/logo/temporary.svg) no-repeat center;
    text-indent: -999px;
    overflow: hidden;
}

footer .F02 .info {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    justify-content: end;
    font-weight: 500;
    font-size: 0.8rem;
    gap: 10px;
} 


footer .F01 .family.site{display: none;}


/* ///////////////////////////////////////// */
header .side {display:none;}