@charset "UTF-8";
/* 코레일 home pc */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    font-family: 'Noto Sans KR', sans-serif;
}

body {min-width: 1024px;}

.inner {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    text-align: center;
    /* align-items: center; */
    margin: 0 auto;
    position: relative;
}

.inner.content { gap: 50px;}

a { text-decoration: none; color: #000;}

li {list-style: none;}

h1 { font-weight: 700; font-size: 2.1rem;}
h2 { font-weight: 400; font-size: 1.1rem;}
h3 { font-weight: 400; font-size: 1.125rem;}



/*  //////////.title ////////// */
.title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 120px;
    margin: 20px 0;
}
.title div {
    display: flex;
    justify-content: end;
    font-weight: 500;
    font-size: 0.8rem;
    color: #00000090;
}

.title div p a {
    font-weight: 500;
    font-size: 0.8rem;
    color: #00000090;
}

.title h1 {
    display: flex;
    justify-content: left;
    font-weight: 700;
    font-size: 1.7rem;
}


/*  //////////.sec01 ////////// */
.sec01 .inner .mobileBT{
    display: none;
}

.sec01 { 
    position: relative;
}

.sec01 .inner .select .common.hide,
.sec01 .inner .select .discount.hide,
.sec01 .inner .select .fourGp.hide,
.sec01 .inner .select .trip.hide
{display: none;}

/* 티켓버튼 */
.sec01{
    display: flex;
    justify-content: left;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
    margin-bottom: 30px;
}
.sec01 .ticket { 
    display: flex;
}

.sec01 .ticket li h5{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 50px;
   
    border-radius: 10px 10px 0 0;
    background-color: #093B82;
    
    cursor: pointer;
}
.sec01 .ticket li h5 a{
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(245, 245, 245);
}
.sec01 .ticket li h5:hover{
    font-weight: 500;
    background-color: #2d68b9;
    /* color: #000; */
}
.sec01 .ticket li h5.on{
    font-weight: 500;
    background-color: rgb(245, 245, 245);
    color: #000;
}

.sec01 .ticket li h5.on a{
    font-weight: 500;

    color: #000;
}
.sec01 .select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 0 10px 10px 10px;
   
    width: 1055px;
    height: 240px;
}

    /* 일반 승차권 */
.sec01 .select .common .tab {
    display: flex;
    gap: 10px;
    margin: 0 0  10px 0;
}

.sec01 .select .common .tab li{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 1.1rem;
}
.sec01 .select .common .tab li a {
    padding: 3px 10px;
    border: 0.5px solid rgb(206, 206, 206);
    border-radius: 8px;
}
.sec01 .select .common .tab li a:hover{
    border: 0.5px solid  rgb(206, 206, 206);
    background-color: rgb(206, 206, 206);
    /* color: #093B82; */
}

.sec01 .select .common .direct,
.sec01 .select .discount .direct,
.sec01 .select .fourGp,
.sec01 .select .trip .direct {
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 10px;

}

.sec01 .select .common .direct .basic,
.sec01 .select .discount .direct .basic,
.sec01 .select .fourGp .basic,
.sec01 .select .trip .direct .basic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    /* width: 1124px; */
    gap: 15px;
}

.sec01 .select .common .direct .basic div,
.sec01 .select .discount .direct .basic div,
.sec01 .select .fourGp .basic div,
.sec01 .select .trip .direct .basic div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-weight: 500;
    font-size: 1.1rem;
    color: #00000090;
}

.sec01 .select .common .direct .basic .D03 a,
.sec01 .select .discount .direct .basic .D03 a,
.sec01 .select .fourGp .basic .D03 a,
.sec01 .select .trip .direct .basic .D03 a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 150px;
    height: 120px;
    background-color: #093B82;
    color: #fff;
    border-radius: 5px;

    font-weight: 400;
    font-size: 1.2rem;
}

.sec01 .select .common .direct .basic .D03 a:hover,
.sec01 .select .discount .direct .basic .D03 a:hover,
.sec01 .select .fourGp .basic .D03 a:hover,
.sec01 .select .trip .direct .basic .D03 a:hover{
    background-color: #2d68b9;
}

.sec01 .select .common .direct .basic div div,
.sec01 .select .discount .direct .basic div div,
.sec01 .select .fourGp .basic div div,
.sec01 .select .trip .direct .basic div div{
    width: 400px;
    height: 50px;
    /* border: 0.5px solid #00000020; */
    border-radius: 5px;
    background-color: #62ADD030;
}

.sec01 .select .common .direct .button {
    background: url(../img/home/event/ticket/option_arrow.png) no-repeat center;
    text-indent: -9999px;
    overflow: hidden;
    background-color: #093B8210;
}

.sec01 .select .common .direct .button:hover,
.sec01 .select .discount .direct .button:hover,
.sec01 .select .fourGp .button:hover,
.sec01 .select .trip .direct .button:hover {cursor: pointer;}

    /* 할인승차권, 관광열차 탭 */
.discount .tab,
.trip .tab {
    display: flex;
    margin-bottom: 10px;
}
.discount .tab li,
.trip .tab li{
    width: 120px;
}


/* ////////// .sec02 ////////// */
.sec02 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.sec02 .Frame.F01 {
    display: flex;
    justify-content: center;
    width: 1055px;
    gap: 10px;
    padding: 20px 0;
    border: 1px solid #000;
    border-radius: 10px;
}

.sec02 .Frame.F01 h1 {
    font-weight: 600;
    font-size: 1.2rem;
}

.sec02 .Frame.F02{
    width: 1055px;
    padding: 20px 0;
    border: 1px solid #000;
    border-radius: 10px;
}

/* ////////// footer ////////// */
footer {
    background-color: #D7D7D7;
    padding: 50px 0 ;
}

footer .F01 .terms,
footer .F02,
footer .F02 .info {
    display: flex
}

footer .F01 {
    display: flex;
    justify-content: space-between;
}

footer .F01 .terms {
    font-weight: 500;
    font-size: 0.8rem;
    gap: 10px;
}


footer .F02{
    justify-content: space-between;
    margin-top: 10px;
}

footer .F02 .logo{
    width: 204px;
    background: url(../img/logo/temporary.svg) no-repeat center;
    text-indent: -999px;
    overflow: hidden;
}

footer .F02 .info {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    justify-content: end;
    font-weight: 500;
    font-size: 0.8rem;
    gap: 10px;
} 


footer .F01 .family.site{display: none;}

/*  //////////header ////////// */
header {
    position: sticky;
    z-index: 999;
    top: -45px;
    background-color: #fff;
}

header .top {
    background-color: #093B82;
}

header .top .inner {
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

header .top .inner div a{
    height: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
}

header .top .inner div a::after{
    content: "";
    width: 2px;
    height: 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 0 0 0 8px;
}

header .top .inner .left a:last-child::after,
header .top .inner .right a:nth-child(3):after{
    display: none;
}

/* 전체 메뉴버튼 */
header .menuBt {
    display: flex;
    justify-content: center;
    right: 0;
    width: 80px;
    height: 80px;
    background-color: #2d68b9;
    padding: 25px 0;
    cursor: pointer;
}

header .menuBt:hover{
    filter: brightness(130%)
}

.menuBt .bar1,
.menuBt .bar2,
.menuBt .bar3{
    margin-top: 5px;
    background: #ffffff;
    width: 30px;
    height: 3px;
    position: absolute;
}

.menuBt .bar2 {margin-top: 15px;}
.menuBt .bar3 {margin-top: 25px;}

/* nav n01 */
header .nav .inner {
    display: flex;
    position: relative;
    flex-direction: column;
}

header .nav .inner .Lmenu{
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header .nav .inner .Lmenu .logo {
    height: 100%;
    width: 204px;
    background: url(../img/logo/temporary.svg) no-repeat center;
    text-indent: -999px;
    overflow: hidden;
}

header .nav .inner .Lmenu .bugger,
header .nav .inner .Lmenu .menu {
    display: flex;
}

header .nav .inner .Lmenu .bugger a,
header .nav .inner .Lmenu .menu a{
    display: inline-block;
    padding: 10px 20px;
}

header .nav .inner .Lmenu .bugger a ,
header .nav .inner .Lmenu .menu > a {
    font-weight: 600;
    font-size: 1.1rem;
}

header .nav .inner .Lmenu .menu a:hover {
    color: #093B82;
    border-bottom: 2px solid #093B82;
}


/* #MenuTicket01 */
/* 대분류 */
header .nav.n02 {
    position: absolute;
    z-index: 999;
    background-color: rgb(245, 245, 245);
    width: 100vw;
}

header .nav.n02 .menu > div {
    display: none;
    
}
header .nav.n02 .menu div.on {
    display: flex;
}

header .nav.n02 .menu div.on p{
    display: block;
    width: 200px;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 10px;
    color: rgb(70, 70, 70);
}

/* 중분류 */
header .nav.n02 .menu div.on ul li{
    display: flex;
    margin: 10px 0;
    align-items: center;
    text-align: left;
}

header .nav.n02 .menu div.on > ul {
    border-left: 2px solid #2d68b9;
    padding: 10px 20px 15px 20px;
    background-color: rgb(230, 230, 230);
}
header .nav.n02 .menu div.on ul li h1{
    width: 160px;
    font-weight: 500;
    font-size: 0.95rem;
    cursor: pointer;
}

header .nav.n02 .menu div.on ul li.on,
header .nav.n02 .menu div.on div.on,
header .nav.n02 .menu div.on ul li h1:hover {
    color: #2d68b9;
}

/* 소분류 */
header .nav.n02 .menu div div {
    width: 500px;
    border-left: 1px solid #093B82;
    padding: 15px 0 20px 0;
}

header .nav.n02 .menu div.on div .contentlist {display: none;}
header .nav.n02 .menu div.on div .contentlist.on {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
header .nav.n02 .menu div.on div {
    border: none;
    padding-left: 10px;
}

header .nav.n02 .menu div.on div .contentlist.on li{
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0 10px;
}

header .nav.n02 .menu div.on div .contentlist.on li a.on,
header .nav.n02 .menu div.on div .contentlist.on li a:hover {
    color: #2d68b9;
    border-bottom: 1px solid #093B82;
    font-weight: 600;
}

header .nav.n02 .menu div.on > div .contentlist li a {
    padding: 5px 0;
    /* color: rgb(80, 80, 80); */
}


/* side */
header .side {
    position: relative;
    display: flex;
    flex-direction: column;
    /* z-index: 1; */
    top: 150px;
} 

header .side .left.side,
header .side .right.side {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 30px;
}
    /* .left */
header .side .left.side {
    left: 0;
    display: flex;
    align-items: flex-end;
    width: 12vw;
    gap: 20px;
    transition: all 1s;
}

header .side .left.side a{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50px;
    height: 50px;
    border-radius: 999px;
    background-color: #fff;
    box-shadow: 2px 2px 5px #093B8270;
}

header .side .left.side a:hover{
    transform: translate(0, -5px);
    background-color: #dddddd;
}

header .side .left.side a img {
    width: 27px;
}

#Loffbt {transform: translate(60px,-70px);}

header .side .left.side.off {
    transform: translateX(-100%);
}

    /* .right */
header .side .right.side {
    display: flex;
    right: 0;
    width: 14vw;
    margin-left: 40px;
    gap: 10px;
    transition: all 1s;
}  

header .side .right.side a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    width: 150px;
    height: 120px;
    margin: auto 0;
    color: #fff;
    box-shadow: 2px 2px 5px #093B8270;
    
}

header .side .right.side a:hover{
    transform: translate(0, -5px);
}

header .side .right.side a:nth-child(1) {background-color: #2d68b9;}
header .side .right.side a:nth-child(2) {background-color: #093B82;}

header .side .right.side a:nth-child(3),
header .side .right.side a:nth-child(4){
    width: 150px;
    height: 40px;
    background-color: #fff;
    color: #000;
}

#Roffbt {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #000;
    transform: none;
    transform: translate(-50px,-50px);
}

header .side .right.side.off {
    transform: translateX(100%);
}

