@charset "UTF-8";
/* 코레일 home pc */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    font-family: 'Noto Sans KR', sans-serif;
}

body {min-width: 1024px;}

.inner {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    text-align: center;
    /* align-items: center; */
    margin: 0 auto;
    position: relative;
}

.inner.content { gap: 80px;}

a { text-decoration: none; color: #000;}

li {list-style: none;}

h1 { font-weight: 700; font-size: 2.625rem;}
h2 { font-weight: 500; font-size: 1.5rem;}
h3 { font-weight: 400; font-size: 1.125rem;}


/*  //////////header ////////// */


header .top {
    background-color: #093B82;
}

header .top .inner,
header .nav .inner{
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
}

header .top .inner div a{
    height: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 0.75rem;
}

/* header .top .inner div a::after{

} */

header .nav .inner .logo{
    height: 110px;
    width: 204px;
    background: url(../img/logo/temporary.svg) no-repeat center;
    text-indent: -999px;
    overflow: hidden;
}

header .nav .inner .menu {
    margin: auto 0;
}

header .nav .inner .menu a{
    display: inline-block;
    padding: 20px;
}

header .nav .inner .menu a:last-child {margin : 0;}

header .side {
    /* width: 1200px; */
    position: relative;
    display: flex;
    flex-direction: column;
} 

header .side .left.side,
header .side .right.side {
    display: flex;
    flex-direction: column;
    position: fixed;
}



header .side .left.side {
    left: 0;
}

header .side .right.side {
    right: 0;
}  

/* .event배경으로 깔린거 */
.swiper.mySwiper01 {
    width: 100%;
    height: 80vh;
  }

.swiper.mySwiper01 .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper.mySwiper01 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper.mySwiper01 {
    margin-left: auto;
    margin-right: auto;
  }
  

/*  //////////.sec01 ////////// */
.sec01 { 
    position: relative;
}

/*  */
.sec01 .inner .select .common .option,
.sec01 .inner .select .discont,
.sec01 .inner .select .fourGp,
.sec01 .inner .select .trip
{display: none;}

/*  */


/* 티켓버튼 */
.sec01 .inner{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
    margin-bottom: 30px;
}
.sec01 .ticket { 
    display: flex;
}

.sec01 .ticket li h5{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 180px;
    height: 60px;
    font-weight: 600;
    font-size: 1.3125rem;

    border-radius: 30px 30px 0 0;
    background-color: #093B82;
    color: #fff;
}
.sec01 .select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 0 30px 30px 30px;
}

.sec01 .select .common .tab {
    display: flex;
}
.sec01 .select .common .tab li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    background-color: #D4EBF6;
    border-radius: 20px 20px 0 0;

    font-weight: 600;
    font-size: 1.3125rem;
}

.sec01 .select .common .direct {
    display: flex;
    flex-direction: column;
    border-radius: 0 30px 30px 30px;
    background-color: #62ADD0;
    padding: 30px 20px 15px 20px;
    gap: 20px;
}

.sec01 .select .common .direct .basic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1124px;
    gap: 30px;
}

.sec01 .select .common .direct .basic div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-weight: 600;
    font-size: 1.125rem;
}
.sec01 .select .common .direct .basic .D03 {
    width: 150px;
    height: 120px;
    background-color: #093B82;
    color: #fff;
    border-radius: 10px;

    font-weight: 500;
    font-size: 1.5rem;
}

.sec01 .select .common .direct .basic div div{
    width: 420px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
}

.sec01 .select .common .direct .button {
    background: url(../img/home/event/ticket/option_arrow.png) no-repeat center;
    text-indent: -9999px;
    overflow: hidden;
}

.sec01 .select .common .direct .button:hover {cursor: pointer;}

/*  //////////.sec02 ////////// */
.sec02 {
    overflow: hidden;
}

.sec02 h3 {
    margin: 25px 0;
}

.swiper.mySwiper02 {
    width: 100%;
    height: 100%;
  }

.swiper.mySwiper02 .swiper-slide {
    border-radius: 999px;
    height: 175px;
    color: #fff;
    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper.mySwiper02 .swiper-slide:nth-child(1) {
    background: url(../img/home/train/Train_east_sea_santa_thum.JPG) no-repeat center / cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.swiper.mySwiper02 .swiper-slide:nth-child(2) {
    background: url(../img/home/train/Train_west_gold_thum.JPG) no-repeat center / cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.swiper.mySwiper02 .swiper-slide:nth-child(3) {
    background: url(../img/home/train/Train_V_thum.JPG) no-repeat center / cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.swiper.mySwiper02 .swiper-slide:nth-child(4) {
    background: url(../img/home/train/Train_S_thum.JPG) no-repeat center / cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.swiper.mySwiper02 .swiper-slide:nth-child(5) {
    background: url(../img/home/train/Train_A_thum.JPG) no-repeat center / cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.swiper.mySwiper02 .swiper-slide:nth-child(6) {
    background: url(../img/home/train/Train_sea_thum.JPG) no-repeat center / cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.swiper.mySwiper02 .swiper-slide:nth-child(7) {
    background: url(../img/home/train/Train_gugak_wine_thum.JPG) no-repeat center / cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

/* .swiper.mySwiper02 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

/* ////////// .sec03  //////////*/
.sec03{position: relative;}

.sec03 h3 { margin: 25px 0}

.swiper.mySwiper03 {
    width: 100%;
    height: 540px;
}

.swiper.mySwiper03 .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper.mySwiper03 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.swiper.mySwiper03 .swiper-slide:nth-child(1),
.swiper.mySwiper03 .swiper-slide:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex: 0 0 1100px;
    border-radius: 30px;
    height: 540px;
    background-color: bisque;
    padding: 30px;
}

/* 내일로 두번째 이야기 */
.swiper.mySwiper03 .swiper-slide:nth-child(1) {
    display: flex;
    flex-direction: column;
    background: url(../img/home/travel/nailo.png) no-repeat center /cover;
    gap: 20px;
    color: #fff;
}

.swiper.mySwiper03 .swiper-slide:nth-child(1) h1 {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}

.swiper.mySwiper03 .swiper-slide:nth-child(1) p {
    font-weight: 300;
    font-size: 0.9rem;
}

.swiper.mySwiper03 .swiper-slide:nth-child(1) .text.card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.swiper.mySwiper03 .swiper-slide:nth-child(1) .text.card div{
    padding: 20px;
    color: #fff;
    background-color: #62ADD0;
    width: 330px;
    height: 240px;
    border-radius: 20px;
}
.swiper.mySwiper03 .swiper-slide:nth-child(1) .text.card div h5{
    font-weight: 700;
    font-size: 1.7rem;
}
.swiper.mySwiper03 .swiper-slide:nth-child(1) .text.card div p{
    font-weight: 200;
    font-size: 1rem;
    text-align: left;
    margin-top: 30px;
}

/* 기차여행 만들기 */
.swiper.mySwiper03 .swiper-slide:nth-child(2) {
    display: flex;
    flex-direction: column;
    background: url(../img/home/travel/train_trip.png) no-repeat center /cover;
    gap: 20px;
    color: #fff;
}

.swiper.mySwiper03 .swiper-slide:nth-child(2) h6 {
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 60px;
    text-align: center;
}

.swiper.mySwiper03 .swiper-slide:nth-child(2) h1 {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}

.swiper.mySwiper03 .swiper-slide:nth-child(2) .icon.gp {
    width: 782.82px;
    height: 215.82px;
    background: url(../img/home/travel/train_trip_icon.png);
}

.swiper.mySwiper03 .swiper-slide:nth-child(2) h5 {
    font-weight: 500;
    font-size: 0.9rem;
}

.swiper.mySwiper03 .swiper-slide:nth-child(2) h4 {
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: underline;
    color: #D91A1A;
}

/* //////////.sec04////////// */
.sec04 .list01{
    margin-bottom: 80px;
}

.sec04 .list01 h2,
.sec04 .list02 .BT{margin: 25px 0;}

.sec04 .list01 .card {
    display: flex;
    gap: 20px;
}

.sec04 .list01 .card div{
    flex: 1;
    height: 340px;
    border-radius: 30px;
    text-indent: -999px;
    overflow: hidden;
}

.sec04 .list01 .card div:nth-child(1) {
    background: url(../img/home/package/service/railtel.JPG) no-repeat 50% 10% / cover;
}
.sec04 .list01 .card div:nth-child(2) {
    background: url(../img/home/package/service/railship.JPG) no-repeat 50% 0 / cover;
}

.sec04 .list02 .BT {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.sec04 .list02 .BT a{
    padding : 5px 20px;
    border-radius: 999px;
}

.sec04 .list02 .pkg {
    display: flex;
    justify-content: space-between;
}

.sec04 .list02 .pkg > div {
    padding: 30px;
    border-radius: 30px;
    background-color: aliceblue;
    gap: 20px;
}

.sec04 .list02 .pkg > div img {
    height: 255px;
    width: 325px;
    border-radius: 20px;
}

.sec04 .list02 .pkg > div .txt {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    text-align: start;
}

.sec04 .list02 .pkg > div .txt .top h3 {font-weight: 700; font-size: 1.3rem;}

.sec04 .list02 .pkg > div .txt .tag.box {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 0.9rem;
}
.sec04 .list02 .pkg > div .txt .bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.sec04 .list02 .pkg > div .txt .bottom .price{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.sec04 .list02 .pkg > div .txt .bottom .price .number{font-weight: 400; font-size: 2.625rem;}
.sec04 .list02 .pkg > div .txt .bottom .price .won{font-weight: 400; font-size: 1.125rem;}
.sec04 .list02 .pkg > div .txt .bottom .inquiry{font-weight: 400; font-size: 0.9375rem; line-height: 33px; color: #616161;}

/*  //////////.sec05 ////////// */
.sec05 {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

/*  */
.sec05 .Notice ul .Notice02,
.sec05 .Notice ul .Notice03 {
    display : none;}
/* */

.sec05 .Notice {
    display: flex;
    flex-direction: column;
    width: 487px;
}

.sec05 .Notice .tab{
    display: flex;
}

.sec05 .Notice .tab li h5{
    display: flex;
    font-weight: 900;
    font-size: 1.125px;
    border-radius: 20px 20px 0 0;
    padding: 10px 30px;
}

.sec05 .Notice .content{
    background-color: #093B82;
    display: flex;
    text-align: start;
    border-radius: 0 20px 20px 20px;
    padding: 20px;
}

.sec05 .Notice .content li ul {
    width: 437px;
}

.sec05 .Notice .content li ul li a{
    color: #fff;
    font-weight: 400;
    font-size: 0.9px;
}

/* 상담 2nd section */

.sec05 .consult {
    display: flex;
    flex-direction: column;
    width: 285px;
    background-color: #62ADD0;
    color: #fff;
    border-radius: 20px;
}

.sec05 .consult .call{
    display: flex;
    width: 285px;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

/* 버튼 3rd section */

.sec05 .bt {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}
.sec05 .bt a {
    display: flex;
    flex: 1 1 40%;
    justify-content: center;
    align-items: center;
    height: 72px;
    border-radius: 20px;
}

/* ////////// footer ////////// */
footer {
    background-color: #D7D7D7;
    padding: 50px 0 ;
}
footer,
footer .F01 .terms,
footer .F02,
footer .F02 .info {
    display: flex
}

footer .F01 {
    display: flex;
    justify-content: space-between;
}


footer .F01 .family.site{display: none;}


/* ///////////////////////////////////////// */
header .side {display:none;}