@charset "utf-8";
/* 젤리캣 home 모바일 */

* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

body {
    min-width: 320px;
    overflow-x: hidden;
} 

/* header */
header {
    display: block;
    height: 60px;
    /* margin: 0 20px; */
}
header .logo {
    position: fixed;
    top: 12px;
    height: 40px;
    margin: auto 30px;
}

header nav {
    position: fixed;
    z-index: 5;
    transform: translateX(100%);
    transition: all 0.5s ease;
    height: 100vh;
    width: 100%;
    background-color: #000;
}

header nav.active{
    position: fixed; 
    display: block;
    width: 100vw;
    height: 100vh;
    transform: translateX(0);
}  

header nav ul{
    padding: 80px 10px;
    flex-direction: column;
    align-items: flex-end;
}

header ul li a{
    color: #5EDEF4;;
}

header ul li {
    padding: 15px 0;
    font-size: 1.2rem; 
}

/* 모바일용 메뉴버튼 & 애니메이션 */
header .menuBt {
    display: block;
    position: fixed;
    right: 0;
    top: 16px;
    margin: auto 30px;
    width: 33px;
    height: 30px;
    z-index: 999;
}

.menuBt .bar1,
.menuBt .bar2,
.menuBt .bar3{
    margin-top: 3px;
    background: #5EDEF4;
    width: 33px;
    height: 4px;
    position: absolute;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all 0.5s ease-in;
}

.menuBt .bar2{ margin-top: 13px; }
.menuBt .bar3{
    margin-top: 23px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.menuBt.active .bar1{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 13px;
}
.menuBt.active .bar2{ opacity: 0; }
.menuBt.active .bar3{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 13px;
} 


/* .home */
.home .inner {
    height: 540px;
}
.home .inner .txt {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 330px;

}
.home .inner .txt h1 {font-size: 1.5rem;}
.home .inner .txt p {
    font-size: 1rem;
    line-height: 25px;
    width: 240px;
}
.home .inner .txt p:nth-child(2) {display: none;}


/* .about */
.swiper.mySwiper01 .swiper-wrapper {
    height: 420px;
}

.swiper.mySwiper01 .swiper-wrapper .swiper-slide p {
    font-size: 1rem; 
    line-height: 25px;
    letter-spacing: 0.05rem;
}
.swiper.mySwiper01 .swiper-button-prev,
.swiper.mySwiper01 .swiper-button-next {
    display: none;
}

/* .product */
.swiper.mySwiper02 {
    height: 600px;
    margin: 80px auto;
}

.swiper.mySwiper02 h1 {
    padding-top: 50px;
}

.swiper.mySwiper02 .swiper-pagination {
    padding-bottom: 20px;
}

.swiper.mySwiper02 .swiper-wrapper .swiper-slide img {
    height: 50vw;
}

.swiper.mySwiper02 .swiper-button-prev,
.swiper.mySwiper02 .swiper-button-next {
    display: none;
}

/* .news */
.news .inner {
    row-gap: 30px;
}

.news .inner .content {
    width: 80vw;
    display: flex;
    row-gap: 10px;
}
.news .inner .content a {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.news .inner .content a::after {
    width: 100%;
}

.news .inner a img {
    display: none;
}

.news .inner .button {
    font-size: 0.5rem;
}

/* .insta */
.insta .inner {
    height: 400px;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
}

.insta .inner .link {
    background-size: 1.5rem;
    padding: 0 0 0 35px;
    font-size: 1.2rem;
    text-align: center;
}

.insta .inner .content {
    gap: 15px;
}

.insta .inner .content a img{
    height: 150px;
}

/* footer */
.footer01 {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer01 .info {
    font-size: 0.6rem;
}

.footer01 .info .btlogo {
    height: 30px;
}

.footer01 .family_site {
    width: 170px;
    border: 0.5px solid #757575;
    font-weight: 500;
    font-size: 0.8rem;
    position: relative;
    /* right: 50%;
    top: 50%; */
    text-align: center;
}

.footer02 {
    flex-direction: column;
    margin-top: 10px;
    display: flex;
}

.footer02 div a {
    margin: 0 10px 0 0;
    font-weight: 500;
    font-size: 0.6rem;
}

.footer02 p {
    margin: 10px 0 0 0;
    font-weight: 300;
    font-size: 0.5rem;
}