@charset "UTF-8";
/* Portfolio about */

* {
    /* border: 0.25px solid red; */
    font-family: 'Michroma', sans-serif;
    /* font-family: 'Gruppo', cursive; */
}



.inner .sec02 {
    display: flex;
    justify-content: space-between;
}