@charset "UTF-8";
/* Portfolio about */

* {
    /* border: 0.25px solid red; */
    font-family: 'Michroma', sans-serif;
    /* font-family: 'Gruppo', cursive; */
}

.inner .sec02 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.sec02 .card {
    display: flex;
    position: relative;
    width: 480px;
    height: 600px;
}

.sec02 .card:hover {
    background: linear-gradient(to top, rgba(0,0,0,0.8) 7%, rgba(0,0,0,0) 25%);
}

.sec02 .card .txt{display: none;}

.sec02 .card .txt.on {
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
    gap: 10px;
}

.sec02 .card:nth-child(1) .img {background: url(../img/jpg/farmercy_1.jpg) no-repeat 50% 50% / cover;}
.sec02 .card:nth-child(2) .img {background: url(../img/jpg/Forabit_1.jpg) no-repeat 50% 50% / cover;}
.sec02 .card:nth-child(3) .img {background: url(../img/jpg/Pizza_1.jpg) no-repeat 50% 50% / cover;}
.sec02 .card:nth-child(4) .img {background: url(../img/jpg/Placcu_1.jpg) no-repeat 50% 50% / cover;}
.sec02 .card:nth-child(5) .img {background: url(../img/jpg/sportsFestival_1.jpg) no-repeat 50% 50% / cover;}
.sec02 .card:nth-child(6) .img {background: url(../img/jpg/Sumddeul_1.jpg) no-repeat 50% 50% / cover;}
.sec02 .card:last-child { display: none;}

.sec02 .card .img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
