@charset "UTF-8";
/* portfolio */

@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'SUIT', sans-serif;
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: #000;
}

.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}

/* header */
header {
    position: sticky;
    top: 0;
    z-index: 999;
}

header .inner{
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 100vw;
    margin-top: 20px;
}
header .inner > div {display: none;}
header .inner > div.on {
    display: inline-flex;
    margin: 0 auto;
    flex-direction: column;
}

hr {width: 1200px;}
header .inner div.on { display: flex;}

header .inner div.on .txt,
header .inner div.on .txt div{
    display: flex;
}

header .inner div.on .txt h1 {width: 120px;font-weight: 700; font-size: 1.1rem;}
header .inner div.on .txt h2 {width: 120px;font-weight: 500; font-size: 1.1rem;}
header .inner div.on .txt h3 {width: 100px;font-weight: 400; font-size: 1.1rem;}
header .inner div.on .txt .web h3:nth-child(4) {width: 140px;}
header .inner div.on .txt .brand h3 {width: auto; margin-right: 30px;}

/* 메뉴버튼 */
header .inner .menubar{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-end;
}
  header .menubar .menuBt {
    display: flex;
    justify-content: center;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 5px 0 0 0;
    cursor: pointer;
}

.menubar .menuBt .bar1,
.menubar .menuBt .bar2 {
    /* margin-top: 10px; */
    background: #000;
    width: 20px;
    height: 2px;
    position: absolute;
    margin: 20px;
    /* -webkit-transform: rotate(-180deg); */
    /* transform: rotate(-180deg); */
    /* transition: all 0.5s ease-in; */
}

.menubar .menuBt .bar2{ margin-top: 15px; }



/* footer */
footer{
    display: flex;
    position: sticky;
    bottom: 0;
    z-index: 999;
}

footer .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    margin-bottom: 30px;
} 
footer .inner .button hr {
    width: 20px;
}

/* section */
div.sec{
    height: 100vh;
}

.sec.one {background-color: aliceblue;}
.sec.two {background-color: antiquewhite;}
.sec.three {background-color: aliceblue;}
.sec.four {background-color: antiquewhite;}
.sec.five {background-color: aliceblue;}
.sec.six {background-color: antiquewhite;}
.sec.seven {background-color: aliceblue;}
.sec.eight {background-color: antiquewhite;}
.sec.nine {background-color: aliceblue;}

.sec .inner {
    position: relative;
}
.sec .inner .info {
    position: absolute;
    top: 60px;
    left: 10px;
}

.sec .inner .info.move {
    position: absolute;
    top: 180px;
    left: 10px;
}

.sec .inner .overview {
    position: absolute;
    width: 683px;
    bottom: 60px;
    left: 10px;
}