@charset "UTF-8";
/* Portfolio header */

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Michroma&display=swap');

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 0.25px solid red; */
    font-family: 'Michroma', sans-serif;
    /* font-family: 'Gruppo', cursive; */
}

li {list-style: none;}
a {text-decoration: none; color: #000;}


/* header */
header {
    border-bottom: 2px solid #000;
}

header .inner{
    display: flex;
    justify-content: start;
    margin: 0 30px;
    padding: 35px 20px 10px 20px;
}

header .inner ul {
    display: flex;
    gap: 60px;
}
header .inner ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .inner ul li a{
    font-size: 1rem;
    color: #fff;
}

header .inner ul li div {
    position: absolute;
    top: 36px;
    z-index: -1;
    height: 30px;
    border-radius: 999px;
    background-color: mediumslateblue;
    filter: blur(8px);
    font-size: 0.5rem;
    color: #00000000;
    padding: 0 25px;
}

.inner {
    display: flex;
    flex-direction: column;
    margin:100px 50px;
    gap: 150px;
}

.inner .sec01 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.inner .sec01 h1{
    width: 30vw;
    font-size: 2.7rem;
    /* border-bottom: 1.5px solid #000; */
    padding: 20px 0;
}

.inner .sec01 p{
    width: 62vw;
    /* font-family: 'YUniverse-B'; */
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 1.1rem;
    /* border-bottom: 1.5px solid #000; */
    padding: 30px 5px;
    line-height: 32px;
    letter-spacing: -0.15px;
}